<%= form_with model: @car do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :model %>
  <%= form.text_field :model%>
</div>

<div>
  <%= form.label :year %>
  <%= form.number_field :year%>
</div>

<div data-controller="variant" data-variant-hide-class="hide">
<button data-action="click->variant#add">Type</button>

<div data-variant-target="type" class="hide">
  <%= form.fields_for :variants do |var| %>
    <%= var.label :car_type %>
    <%= var.text_field :car_type %>
  <% end %>
</div>
</div>

  <%= form.submit %>
<% end %>
